@{
    ViewData["Title"] = "Home Page";
}

<header class="main-screen-header">
    <div class="header-text aqum-400fw-50px-white">
        ПАРТНЁРСТВО В СФЕРЕ ПРОИЗВОДСТВА
    </div>
    <img class="phone-icon" src="/img/phone-icon.svg" />
    <div class="phone-number aqum-400fw-50px-white">
        <a href="tel:+79326200050">8 (932) 620-00-50</a>
    </div>
</header>
<p class="main-screen-headline raleway-900fw-50px-black">Выберите бизнес</p>
<div class="business-block">
    <div class="business-block-element business-block-item1">

    </div>
    <div class="business-block-element business-block-item2">

    </div>
    <div class="business-block-element business-block-item3">

    </div>
    <div class="business-block-element business-block-item4">

    </div>
</div>
