@{
    ViewData["Title"] = "GoldenCat";
}

<div id="goldencat-header" class="goldencat-header">
    <div class="goldencat-header-logo">
        <img src="~/img/golden-cat-logo.svg"/>
    <h1 class="raleway-800fw-48px-black">
        Производство
        древесного
        наполнителя
    </h1>
    </div>
    <h2 class="raleway-800fw-50px-black">Что предлагает GoldenCat?</h2>
<p class="raleway-800fw-18px-black">GoldenCat предлагает Вам организовать производство кошачьего наполнителя из опилок в своем городе, с помощью нашего оборудования и технологий. По данным издания "Интерфакс" число домашних кошек в России достигает 33,7 миллионов. Ниша производства наполнителей практически свободна, успевайте стать эксклюзивным производителем в своем городе!</p>
<img class="cat-icon" src="~/img/cat-icon.svg" />
<img class="cat" src="~/img/cat.png" />
<a class="golden-cat-send-request boorsok-400fw-36px-black">Оставить заявку!</a>
</div>

<h2 class="goldencat-headline raleway-800fw-50px-black">О GoldenCat</h2>
<p class="raleway-800fw-18px-black">
    Наша компания предлагает оборудование для производства кошачьего наполнителя из опила. Опыт наших специалистов, множество уникальных технологий, оборудование - все это, мы передаем нашим клиентам.
    Не выходя из дома можно организовать производство больших масштабов!<br /><br />

    Преимущество нашего оборудования проявляется в простом использовании и низкой цене. Все наши технологии производства просты и мы сделали все технологии доступными нашим клиентам. Реальная производительность оборудования в сутки 2,4 тонны!
</p>
<img class="question-mark" src="~/img/question-mark.svg" />
<h2 class="goldencat-headline raleway-800fw-50px-black">Процесс производства</h2>
<iframe width="1110" height="624" src="https://www.youtube.com/embed/Zzuk49xQ6O4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2 class="goldencat-headline raleway-800fw-50px-black">Что входит в пакет партнерства за 200 тысяч рублей?</h2>
<div class="check-marks-block">
    <img src="~/img/check-marks.svg"/>
    <div>
        <p class="raleway-800fw-18px-black">Оборудование для производства гранул</p>
        <p class="raleway-800fw-18px-black">Рекламные материалы</p>
        <p class="raleway-800fw-18px-black">Обучение</p>
        <p class="raleway-800fw-18px-black">Подготовка документов для открытия ООО</p>
        <p class="raleway-800fw-18px-black">Поставщики опила, упаковки</p>
        <p class="raleway-800fw-18px-black">Разработка логотипа (брэнда), рекламные материалы (ценники, этикетки, прайсы)</p>
        <p class="raleway-800fw-18px-black">Помощь в подборе помещения</p>
        <p class="raleway-800fw-18px-black">Юридические консультации на всех этапах работы</p>
        <p class="raleway-800fw-18px-black">Техподдержка</p>
    </div>
</div>
<a class="goldencat-spend-button boorsok-400fw-16px-black">Расходы на открытие >>></a>
<h2 class="raleway-800fw-50px-black goldencat-headline">О бизнесе для вас</h2>
<p class="raleway-800fw-18px-black" id="sell-desc">Рассмотрим минимальный и средний показатель продаж наших партнеров в данном блоке.</p>
<div class="goldencat-sell-block">
    <img src="~/img/goldencat-house.svg" />
    <p class="raleway-800fw-18px-black">Партнер проживает в небольшом городе, его продажи составляют всего около 1000 пакетов в месяц, в среднем которые весят 5 кг (15 литров). Отпускная цена одного пакета партнера в магазин составляет в среднем 120 рублей. Исходя из этого мы имеем доход в месяц 120000 рублей. Отнимем расходы в сумме ~25000 (аренда, электричество, упаковка), получаем чистую прибыль в размере 95000 рублей. При этом партнер покрывает малую часть магазинов, есть куда расти.</p>
</div>
<div class="goldencat-sell-block">
    <p class="raleway-800fw-18px-black">Партнер проживает в городе с населением от 300 тысяч человек, его продажи составляют по средним показателям 6500 пакетов в месяц, вес и отпускная цена схожи с первым вариантом. Доход же составляет в данном примере 780000 рублей, расходная часть ~90000 рублей, чистая прибыль при этом 690000 рублей, опять же, партнер не охватывает полный рынок данного города.</p>
    <img src="~/img/goldencat-houses.svg" />
</div>
<h2 class="goldencat-headline raleway-800fw-50px-black">Как купить?</h2>
<div class="how-buy">
    <p class="raleway-800fw-18px-black">
        <img src="~/img/cat-icon2.svg" />
        <span class="boorsok-400fw-18px-black">1.</span> Свяжитесь с нами, расскажем о всех тонкостях бизнеса. Либо оставьте заявку на сайте. Также работаем во всех мессенджерах. Whatsapp, Viber, Telegram, пишите!<br /><br />

        <span class="boorsok-400fw-18px-black">2.</span> Отправьте данные для заключения договора паспорт первый разворот и регистрацию, форму оплаты (наложенный платеж либо 100% по договору). Необходимо корректно предоставить данные, также указать на какой город оформляем эксклюзив.<br /><br />

        <span class="boorsok-400fw-18px-black">3.</span> Отправляем оборудование в день заказа, либо на следующий рабочий день. В том случае если оплата прошла 100% по договору, сразу же занимаемся юридическим оформлением. В том случае, если отправляем оборудование наложенным платежом, всеми оформлениями занимаемся после получения оплаты. Как работает наложенный платеж? Заключаем договор, в нем прописывая данную услугу, вносите предоплату 5000 рублей в счет страховки, в том случае, если не забираете оборудование по какой либо причине, тем самым транспортная у нас оплачена в обе стороны. После того как мы отправили Вам оборудование, приезжаете в транспортную, осматриваете груз на целостность и сохранность, вносите оставшуюся часть денежных средств, мы снимаем наложенный платеж, на это уходит 10-15 минут, после этого забираете оборудование, мы со своей стороны начинаем заниматься юридическими оформлениями. Наложенный платеж возможен только транспортной Байкал - Сервис.<br /><br />
    </p>
</div>
<a class="golden-cat-send-request sr boorsok-400fw-36px-black">Оставить заявку!</a>
<footer class="golden-footer raleway-900fw-20px-white">
    <div class="golden-footer-wrapper">
        <p>
            ООО "ИНФИНИТИ"
            8 (932) 620-00-50
            gkinfinity@mail.ru
        </p>
        <a href="#goldencat-header">Вверх <img src="~/img/semki-arrow-up.svg" /></a>
    </div>
</footer>

<div id="goldencat-spend-description">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Расходы на открытие</h2>
    <p class="raleway-400fw-20px-black">
        Аренда - до 10000 рублей.<br />
        Упаковка - до 10 рублей за 1 пакет. 1000 пакетов = 10000 рублей.<br />
        Опил - от бесплатного до 20 рублей за мешок 80 литров.<br />
        Открытие ООО/ИП - 800-4000 рублей.
    </p>
</div>
<div id="goldencat-send-request-form">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form method="post" action="SendRequest">
        <p class="raleway-900fw-50px-black">Форма заявки</p>
        <div class="form-inputs">
            <input type="hidden" name="subject" value="@ViewData["Title"]" />
            <div class="labels">
                <label class="form-label raleway-900fw-32px-black" for="name">Ваше имя:</label>
                <label class="form-label raleway-900fw-32px-black" for="phone">Номер телефона:</label>
                <label class="form-label raleway-900fw-32px-black" for="city">Город:</label>
            </div>
            <div class="inputs">
                <input class="roboto-900fw-26px-black" type="text" id="name" name="sendrequest.Name" />
                <input class="roboto-900fw-26px-black" type="text" id="phone" name="sendrequest.PhoneNumber" />
                <input class="roboto-900fw-26px-black" type="text" id="city" name="sendrequest.City" />
            </div>
        </div>
        <div class="agreement-div">
            <input id="agreement" type="checkbox" />
            <label for="agreement"></label>
            <p class="raleway-900fw-20px-black">Даю согласие на обработку <a>персональных данных</a></p>
        </div>
        <button class="raleway-900fw-32px-black send-request-button" type="submit">
            Оставить заявку!
        </button>
    </form>
</div>
<div id="dark-overlay-goldencat"></div>