@{
    ViewData["Title"] = "Gkinfinity";
}

<header class="main-screen-header">
    <div class="header-text aqum-400fw-50px-white">
        <h1>ПАРТНЁРСТВО В СФЕРЕ ПРОИЗВОДСТВА</h1>
    </div>
    <img class="phone-icon" src="/img/phone-icon.svg" />
    <div class="phone-number aqum-400fw-50px-white">
        <a href="tel:+79326200050">8 (932) 620-00-50</a>
    </div>
</header>
<h2 class="main-screen-headline raleway-900fw-50px-black">Выберите бизнес</h2>
<div class="business-block">
    <a href="/SemkiITochka" class="business-block-element business-block-item1">
        <img class="semki-logo" src="/img/semki-logo.svg" />
        <p class="raleway-800fw-32px-black">Производство жаренных семечек</p>
    </a>
    <a href="/GoldenCat" class="business-block-element business-block-item2">
        <img class="goldencat-logo" src="/img/golden-cat-logo.svg" />
        <p class="raleway-800fw-32px-black">Производство древесного наполнителя</p>
    </a>
    <a href="/MagnumWater" class="business-block-element business-block-item3">
        <img class="magnum-logo" src="/img/magnum-logo.svg" />
        <p class="raleway-800fw-32px-black">Производство магниевой воды</p>
    </a>
    <a href="LifeWater" class="business-block-element business-block-item4">
        <img class="lifewater-logo" src="/img/lifewater-logo.svg" />
        <p class="raleway-800fw-32px-black">Производство бутилированной воды</p>
    </a>
</div>
<h2 class="main-screen-headline raleway-900fw-50px-black">Кто мы?</h2>
<p class="raleway-600fw-24px-black main-screen-p">Наша компания успешно ведет свою деятельность более 7 лет. За это время мы обрели более 500 партнеров-друзей, которые занимаются ставшим любимым делом и получают достойную прибыль. В нашем штате ведущие специалисты своего дела, такие как: технологи пищевой промышленности, инженеры, юристы, маркетологи, агрономы, менеджеры. Все наши сотрудники постоянно повышают свои профессиональные навыки в ведущих образовательных учреждениях России, Европы, США. По всем представленным на нашем сайте направлениям бизнеса, мы накопили огромный, успешный опыт и готовы им поделиться с Вами! Мы уверены, что попав на наш сайт, Вы измените жизнь в лучшую сторону!</p>
<h2 class="main-screen-headline raleway-900fw-50px-black">СМИ о нас</h2>
<div class="news-wrapper">
    <a href="https://72.ru/text/gorod/2020/04/09/69082351/" class="news-bubble yesevaone-400fw-20px-black">
        <img src="~/img/news-bubble.svg" />
        <span class="news-bubble-text">«Впервые вижу, чтобы люди были настолько рады продуктам». Тюменские бизнесмены помогают нуждающимся</span>
        <img class="arrow-right" src="/img/arrow-right.svg" />
    </a>
    <a href="https://vsluh.ru/novosti/obshchestvo/direktor-tyumenskoy-firmy-besplatno-razdaet-mnogodetnym-mamam-produktovye-nabory_339908/" class="news-bubble yesevaone-400fw-20px-black">
        <img src="~/img/news-bubble2.svg" />
        <span class="news-bubble-text">Директор тюменской фирмы бесплатно раздает многодетным мамам продуктовые наборы</span>
        <img class="arrow-right" src="/img/arrow-right.svg" />

    </a>
</div>

<div class="videos">
<iframe class="youtube-video" width="530" height="353" src="https://www.youtube.com/embed/tAJW6_c52Ko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe class="youtube-video" width="530" height="353" src="https://www.youtube.com/embed/_vj7XSrKcHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<iframe class="youtube-big-player" width="1110" height="739" src="https://www.youtube.com/embed/zGqo_Dyd0Tw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<footer class="main-screen-footer">
    <button href="#" class="schedule-button"></button>
    <p class="raleway-900fw-20px-white footer-adress">
        Наш адрес: г. Тюмень, ул. Газовиков 33, пом. К66
        Есть вопросы? Звоните!  <a href="tel:+79326200050">8 (932) 620-00-50</a>
    </p>
</footer>

<div id="schedule-popup">
    <img id="main-screen-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <p class="raleway-900fw-32px-black">Внимание! С 24.04.2022 г. отгрузки будут проис&shyходить в будние дни: понедельник, среда, пятница. Просим заранее формировать заявки по втор&shyникам и четвергам, для их отгрузки на следующий день.</p>
</div>

<div id="dark-overlay"></div>