@{
    ViewData["Title"] = "LifeWater";
}
<div class="clearfix">
    <img class="lifewater" src="~/img/lifewater-logo.svg" />
    <h1 class="lifewater-h1 raleway-800fw-50px-black">Производство бутилированной воды с доходом от 200 000 рублей</h1>
</div>
<div class="clearfix p">
    <p class="raleway-800fw-18px-black">Наша компания предлагает Вам организовать производство бутилированной воды, различного объема, от 0,5 л. до 5 л. Вода - один из основных источников жизни человека. Нашими технологами разработан минеральный комплекс, благодаря которому полезные свойства воды увеличиваются многократно.</p>
    <div class="raleway-900fw-20px-white send-request lifewater-send-request">
        <span>Оставить заявку!</span>
    </div>
</div>

<div class="clearfix">
    <div class="wave-waterlife">
        <div class="lifewater-main">    
            <img src="~/img/lifewater-bottle.svg" class="lifewater-bottle"/>
            <div class="clearfix p1-lifewater">
                <h2 class="raleway-800fw-50px-white magnum-headline">Что мы предлагаем?</h2>
                <p class="raleway-800fw-18px-white">Мы предлагаем партнерство по всему миру, отдаем предпочтения странам СНГ и непосредственно партнерам в России. Наше предложение для Вас - построить бизнес на производстве бутилированной воды разного объема от 0,5 литра до 5 литров, процесс производства занимает минимальное количество времени. Вы сможете организовать себе бизнес который обеспечит Вашу семью постоянным заработком. Войти в данный бизнес как никогда стало легко с нашей помощью.</p>
            </div>
            <div class="clearfix">
                <h2 class="raleway-800fw-50px-white magnum-headline">О бизнесе для Вас</h2>
                <p class="raleway-800fw-18px-white p2-waterlife">
                    Мы готовы передать Вам грандиозный, накопленный опыт по открытию бизнеса "Производства бутилированной воды". Вы сможете круглый год производить воду в любых объемах по нашей технологии и с нашими ингредиентами.<br /><br />

                    Себестоимость бутылки 0,5 воды до 7 рублей, продается же продукт от 20 до 35 рублей, в зависимости от выбранного пути продажи опт либо розница.<br /><br />

                    Мы предлагаем организовать "Производство бутилированной воды" на 20000 бутылок (10000 тысяч литров воды) в месяц, что даст доход от 200000 до 350000 рублей, если данные числа перевести в чистую прибыль то получим следующие показатели от 130000 - 280000 рублей.<br /><br />

                    Также в нашей линейке представлена вода в объемах 1 л., 1,5 л., 2 л., 5 л.
                </p>
                <img class="lifewater-bottle-icon" src="~/img/lifewater-bottle-icon.svg" />
            </div>
            <div class="clearfix">
                <h2 class="raleway-800fw-50px-white magnum-headline center">О минеральном комплексе</h2>
            </div>
            <img src="~/img/stones.svg" class="stones"/>
            <p class="raleway-800fw-18px-white">
                Вы можете производить бутилированную воду как с нашим минеральным комплексом так и без него. Наш минеральный комплекс способствует укреплению здоровья и иммунитету. Производится в строгом соответствии с высочайшими стандартами качества нашей компании. Содержит минеральные элементы (Ca, Mg).<br />
                Основной состав, мг/л:<br /><br />

                Катионы, мг/л: Кальций (Са2+) 15–45, Магний (Mg2+) 5–40, Натрий (Na+) 1–15, Калий (K+) < 5.<br /><br />

                Анионы, мг/л: Хлориды (Cl-) 30–140, Гидрокарбонаты (HCO3-) < 100, Сульфаты (SO4 2-) < 20.<br /><br />

                Общая минерализация 100–350 мг/л.<br />
                Общая жесткость 1,5–5 мг-экв/л.
            </p>
            <h2 class="raleway-800fw-50px-white center magnum-headline">Главный вопрос - нужна ли лицензия?</h2>
            <p class="raleway-800fw-18px-white center p3-waterlife">Мы предусмотрели данный вопрос, наши специалисты из центра сертификации и качества подготовят необходимый сертификат для продажи воды, лицензия не потребуется, ожидать ее получения по несколько месяцев нет необходимости, сертификация входит в стоимость нашего предложения.</p>
            <img src="~/img/license.svg" />
            <h2 class="raleway-800fw-50px-white center magnum-headline">Что входит в партнёрство?</h2>
            <div class="waterlife-details raleway-900fw-18px-black off">
                <p class="waterlife-details-summary">Открытие ООО/ИП, сертификаты на продукцию</p>
                <p class="waterlife-details-content raleway-800fw-18px-white">Подготовим для Вас документы на открытие ООО/ИП, выберем нужную форму налогообложения, отправим документы Вам электронной почтой, Вам останется их распечатать и сдать в налоговую. Закажем под Вашу организацию сертификаты на готовый продукт.</p>
            </div>
            <div class="waterlife-details raleway-900fw-18px-black off">
                <p class="waterlife-details-summary">Оборудование</p>
                <p class="waterlife-details-content raleway-800fw-18px-white">Мы передадим Вам: "Евромиксер" для смешивания ингредиентов, упаковщик для оформления готового продукта в стяжку, а также дозатор с таймером для розлива в бутылки.</p>
            </div>
            <div class="waterlife-details raleway-900fw-18px-black off">
                <p class="waterlife-details-summary">Подбор помещения для производства</p>
                <p class="waterlife-details-content raleway-800fw-18px-white">Вместе с Вами подберем необходимое для Вас помещение.</p>
            </div>
            <div class="waterlife-details raleway-900fw-18px-black off">
                <p class="waterlife-details-summary">Поддержка на всех этапах бизнеса</p>
                <p class="waterlife-details-content raleway-800fw-18px-white">У нас действует горячая линия по которой Вы сможете  позвонить и задать все интересующие Вас вопросы по производству. Мы поможем на каждом этапе бизнеса.</p>
            </div>
            <div class="waterlife-details raleway-900fw-18px-black off">
                <p class="waterlife-details-summary">Технологии, инструкции, эксклюзив на город</p>
                <p class="waterlife-details-content raleway-800fw-18px-white">Передадим весь накопленный опыт нашими специалистами, обучим производству, передадим колоссальный опыт продаж. Также у нас имеется эксклюзив на город, эксклюзив действует при покупке ежемесячно двух ведер сырья для производства минеральной воды.</p>
            </div>
            <div class="waterlife-about">
                <div class="waterlife-about-b1">
                    <h2 class="raleway-800fw-40px-white">Расходы на открытие</h2>
                    <p class="raleway-900fw-18px-white">
                        Аренда - до 10 000 рублей<br />
                        Ёмкость для смешивания (куб) - 5 000 рублей<br />
                        Фильтры - 3 000 рублей<br />
                        Минеральный комплекс - 5 000 рублей
                    </p>
                </div>
                <div class="waterlife-about-b2">
                    <div>
                        <div class="raleway-900fw-20px-white"><span>Затраты в месяц</span></div>
                        <div class="raleway-900fw-20px-white"><span>Доходы в месяц</span></div>
                        <div class="raleway-900fw-20px-white"><span>Чистая прибыль</span></div>
                    </div>
                    <div class="raleway-900fw-20px-white send-request lifewater-send-request2">Оформить партнёрство!</div>
                </div>
            </div>
            <h2 class="raleway-800fw-50px-white right magnum-headline">Видео производства</h2>
            <iframe width="1110" height="624" src="https://www.youtube.com/embed/ANMIYKar1W4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="waterlife-price">
                <h2 class="raleway-800fw-50px-white">Цена партнёрства <b>95 000</b> рублей</h2>
                <div>
                    <div class="raleway-900fw-18px-white">Что входит?</div>
                    <div class="raleway-900fw-18px-white">Полное описание</div>
                    <div class="raleway-900fw-18px-white">Частые вопросы</div>
                </div>
            </div>
            <h2 class="raleway-800fw-50px-white magnum-headline center">Оформление партнёрства</h2>
            <div class="waterlife-partnership">
                <div>
                    <div class="card-info">
                        <p class="raleway-800fw-40px-white">1</p>
                        <div>
                            <p class="raleway-500fw-18px-black">Позвоните</p>
                            <button class="raleway-900fw-18px-white">Подробнее</button>
                        </div>
                    </div>
                    <div class="card-info">
                        <p class="raleway-800fw-40px-white">2</p>
                        <div>
                            <p class="raleway-500fw-18px-black">Заключение договора</p>
                            <button class="raleway-900fw-18px-white">Подробнее</button>
                        </div>
                    </div>
                    <div class="card-info">
                        <p class="raleway-800fw-40px-white">3</p>
                        <div>
                            <p class="raleway-500fw-18px-black">Отправляем оборудование</p>
                            <button class="raleway-900fw-18px-white">Подробнее</button>
                        </div>
                    </div>
                    <div class="card-info">
                        <p class="raleway-800fw-40px-white">4</p>
                        <div>
                            <p class="raleway-500fw-18px-black">Сопровождение</p>
                            <button class="raleway-900fw-18px-white">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="raleway-800fw-50px-white magnum-headline">Чем отправляем оборудование?</h2>
            <img src="~/img/send-companies.png" />
            <h2 class="raleway-800fw-50px-white magnum-headline right">Наши клиенты</h2>
            <img src="~/img/client-companies.png" class="client-companies-lifewater" />
            <footer class="semki-footer raleway-900fw-20px-white lifewater-footer">
                <div class="semki-footer-wrapper">
                    <p>
                        ООО "ИНФИНИТИ"<br />
                        8 (932) 620-00-50<br />
                        gkinfinity@mail.ru
                    </p>
                    <a href="#main">Вверх <img src="~/img/semki-arrow-up.svg" /></a>
                </div>
            </footer>
        </div>
    </div>
</div>


<div id="waterlife-modal1">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Затраты в месяц</h2>
    <p class="raleway-400fw-20px-black">
        Вода - до 500 рублей<br /><br />

        Зарплата - 10000 рублей<br /><br />

        Аренда - 10000 рублей<br /><br />

        Электричество - 1000 рублей<br /><br />

        Упаковочный материал - 1000 рублей<br /><br />

        Бутылки - 10000 рублей<br /><br />

        Итого: 32500 рублей расходы.
    </p>
</div>

<div id="waterlife-modal2">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Доходы в месяц</h2>
    <p class="raleway-400fw-20px-black">
        Оптовая цена за 1 бутылку 0,5 - от 20 рублей<br /><br />

        Продавая 10000 бутылок воды в месяц оптом, доход составит 200000 рублей в месяц<br /><br />

        Розничная цена за 1 бутылку 0,5 - 35 рублей<br /><br />

        Продавая 10000 бутылок в месяц в розницу, доход составит 350000 рублей в месяц<br /><br />
    </p>
</div>

<div id="waterlife-modal3">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Чистая прибыль</h2>
    <p class="raleway-400fw-20px-black">
        В том случае если мы продаем оптом по минимальной цене на 200000 рублей в месяц, минус расходы 32500 рублей, то чистая прибыль составит в месяц 167500 рублей в месяц.<br /><br />

        Либо продажа осуществляется по минимальной розничной цене в месяц на 350000 рублей, минус расходы 32500 рублей, то чистая прибыль составит в месяц 317500 рублей в месяц.
    </p>
</div>

<div id="waterlife-modal4">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Что входит?</h2>
    <p class="raleway-400fw-20px-black">
        - Евромиксер для размешивания сырья<br /><br />

        - Упаковщик<br /><br />

        - Дозатор с таймером<br /><br />

        - Открытие ООО/ИП<br /><br />

        - Поддержка на всех этапах бизнеса<br /><br />

        - Технологическое сопровождение<br /><br />

        - Оформление сертификата на продукцию
    </p>
</div>

<div id="waterlife-modal5">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Полное описание</h2>
    <p class="raleway-400fw-20px-black">
        Уважаемые потенциальные партнеры, пожалуйста ознакомьтесь с полным описанием первых шагов, от покупки до реализации:<br /><br />

        1. Позвоните нам, узнайте подробности, отчетливо прочитайте всю информацию на сайте.<br /><br />

        2. Оформите договор на франшизу, от Вас необходимы следующие данные:<br /><br />

        Паспортные данные - первый разворот паспорта и регистрация;<br />
        Город на который заключаем эксклюзив (эксклюзив означает, что Вы как партнер будете один на закрепленной под Вас территории. Эксклюзив действует при покупке двух видов сырья в месяц, но, мы даем время на "расскачку" Вашего бизнеса время, поэтому переживать за эксклюзив не стоит);<br />
        Определиться будете ли закупать сырье и какое;<br />
        Определиться с формой оплаты - наложенный платеж, либо 100% оплата по договору.<br /><br />
        3. При 100% оплате отправляем оборудование, сырье, отправляем все ознакомительные, обучающие материалы Вам на электронную почту. Оформляем Вам ИП либо ООО если есть в этом необходимость, оформляем сертификат на продукцию.<br /><br />

        При наложенном платеже, вносится предоплата 5000 рублей, отправляем оборудование, приезжаете в транспортную компанию, осматриваете груз, оплачиваете оставшуюся часть денежных средств, забираете оборудование, и после этих действий, мы отправляем Вам все ознакомительные, обучающие материалы, оформляем ООО либо ИП, готовим сертификат на продукцию.
    </p>
</div>

<div id="waterlife-modal6">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Частые вопросы</h2>
    <div>
        <p class="raleway-400fw-20px-black">
            <b>- Где брать бутылки?</b><br /><br />

            - Бутылки приобретаются в своем городе, множество компаний выдувают бутылки. Покупать можно в розничных магазинах упаковочной продукции, либо напрямую с производства бутылок.<br /><br />

            <b>- Где взять этикетки?</b><br /><br />

            - Этикетки мы передаем в электронном формате, Вам необходимо будет вписать в них свои реквизиты, номер сертификата и отдать на печать в типографию в своем городе.<br /><br />

            <b>- Заключается ли договор, гарантия на оборудование?</b><br /><br />

            - Да, договор заключается, договор отправляется по необходимости ознакомления, гарантия на оборудование имеется и составляет 1 год.<br /><br />

            <b>- Что такое эксклюзив на город?</b><br /><br />

            - Эксклюзив на город подразумевает за собой, то, что мы продаем франшизу одному человеку на город, партнеру, чтобы держать эксклюзив за собой, необходимо минимум приобретать у нас 2 сырья в месяц. При этом мы делаем отсрочку партнерам для "раскачки" в пол года и не создаем мнимую конкуренцию, так как это не выгодно ни нам, ни партнеру. Тем не менее, действующие партнеры выполняют данное обязательство, так как продукт продаваемый.<br /><br />

            <b>- Как продавать продукт помимо сетевых магазинов?</b><br /><br />

            - Есть несколько путей реализации: поставка с полной оплатой, поставка с отсрочкой платежа (3-5 дней), поставка под реализацию (ставите бесплатно товар, с Вами рассчитываются по факту продаж, самый действенный способ захватит 100% города)<br /><br />

            <b>- Куда поставлять товар?</b><br /><br />

            - Сетевые магазины, продуктовые магазины, магазины у дома, киоски, ларьки, оптовые базы, рынки, заправки и т.д. продается туда, где есть пищевая продукция.<br /><br />

            <b>- Сколько занимает транспортировка оборудования\сырья?</b><br /><br />

            - В зависимости от отдаленности города, доставка занимает 2 - 10 дней.<br /><br />

            <b>- Есть ли наложенный платеж на оборудование?</b><br /><br />

            - Да, наложенный платеж имеется, отправляем оборудование, осматриваете в транспортной компании, оплачиваете нам, забираете оборудование и начинаем работу.<br /><br />

            <b>- Где Вы находитесь?</b><br /><br />

            - Мы находимся в городе Тюмень.<br /><br />

            <b>- Есть ли роялти, проценты отчисления Вам?</b><br /><br />

            - Роялти и процентов нет, мы зарабатываем на ингредиентах, взаимовыгодное сотрудничество.<br /><br />

            <b>- Как быстро отгружаете оборудование?</b><br /><br />

            - В том, случае если оплата в первой половине дня, то отгружаем в этот же рабочий день, если оплата во второй половине дня, отгружаем на следующий рабочий день.<br /><br />

            <b>- Почему не отправляете бизнес - план, финансовую модель?</b><br /><br />

            - Мы не сторонники отправлять надуманные, мнимые бизнес - планы с "крутыми" цифрами, бизнес - план и финансовая модель - вещи индивидуальные, не даром люди которые создают бизнес - планы берут оплату за это от 50000 рублей. Все сугубо индивидуально. Если нужно мы создадим под Вас, под Ваш город бизнес - план за определенную договорную плату.
        </p>
    </div>
</div>

<div id="semki-call-description">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Свяжитесь с нами</h2>
    <p class="raleway-400fw-20px-black">
        Свяжитесь с нами, расскажем о всех тонкостях бизнеса. Либо оставьте заявку на сайте. Также работаем во всех мессенджерах. Whatsapp, Viber, Telegram, пишите!
    </p>
</div>
<div id="semki-deal">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Заключение договора</h2>
    <p class="raleway-400fw-20px-black">
        Отправьте данные для заключения договора, укажите форму оплаты (наложенный платеж либо 100% по договору). Необходимо корректно предоставить данные, также указать на какой город оформляем эксклюзив.
    </p>
</div>
<div id="semki-car">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Отправляем оборудование</h2>
    <p class="raleway-400fw-20px-black">
        Отправляем оборудование в день заказа, либо на следующий рабочий день. В том случае если оплата прошла 100% по договору, сразу же занимаемся юридическим оформлением. В том случае если отправляем оборудование наложенным платежом, всеми оформлениями занимаемся после получения оплаты. Как работает наложенный платеж? Заключаем договор, в нем прописывая данную услугу, вносите предоплату 5000 рублей в счет страховки в случае если не забираете оборудование по какой либо причине, тем самым транспортная у нас оплачена в обе стороны. После того как мы отправили Вам оборудование, приезжаете в транспортную, осматриваете на целостность и сохранность, вносите оставшуюся часть денежных средств, мы убираем наложенный платеж, на это уходит 10-15 минут, после этого забираете оборудование, мы со своей стороны начинаем заниматься юридическими оформлениями. Наложенный платеж возможен только транспортной Байкал Сервис.
    </p>
</div>
<div id="semki-manager">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Сопровождение</h2>
    <p class="raleway-400fw-20px-black">
        Изначально при запуске бизнеса отправляем Вам руководство франчайзи. Ознакомитесь, многие вопросы раскрыты. В том случае если что то не понятно, созваниваемся - обсуждаем. При необходимости готовим документы для открытия ООО/ИП, после оформляем сертификат на продукцию под Вашу организацию с которым Вы официально сможете продавать продукт в магазины. На всех этапах наша команда всегда на связи, на все вопросы будет дан конкретный ответ.
    </p>
</div>

<div id="policy">
    <img id="popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Политика конфиденциальности</h2>
    <div class="raleway-400fw-20px-black">
        <p>
            <b>Политика в отношении обработки персональных данных<br /></b>
            <b>1. Общие положения<br /></b>

            Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ООО "ИНФИНИТИ" (далее – Оператор).1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://gkinfinity.ru.<br />
            <b>2. Основные понятия, используемые в Политике<br /></b>

            2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://gkinfinity.ru.2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.2.8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта https://gkinfinity.ru.2.9. Персональные данные, разрешенные субъектом персональных данных для распространения, - персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для распространения в порядке, предусмотренном Законом о персональных данных (далее - персональные данные, разрешенные для распространения).2.10. Пользователь – любой посетитель веб-сайта https://gkinfinity.ru.2.11. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.2.12. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом.2.13. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.2.14. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.<br />
            <b>3. Основные права и обязанности Оператора<br /></b>

            3.1. Оператор имеет право:– получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;– в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;– самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.3.2. Оператор обязан:– предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;– организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;– отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;– сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса;– публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении обработки персональных данных;– принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;– прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;– исполнять иные обязанности, предусмотренные Законом о персональных данных.<br />
            <b>4. Основные права и обязанности субъектов персональных данных<br /></b>

            4.1. Субъекты персональных данных имеют право:– получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;– требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;– выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;– на отзыв согласия на обработку персональных данных;– обжаловать в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных;– на осуществление иных прав, предусмотренных законодательством РФ.4.2. Субъекты персональных данных обязаны:– предоставлять Оператору достоверные данные о себе;– сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.4.3. Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.<br />
            <b>5. Оператор может обрабатывать следующие персональные данные Пользователя<br /></b>

            5.1. Фамилия, имя, отчество.5.2. Электронный адрес.5.3. Номера телефонов.5.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).5.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.5.6. Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, интимной жизни, Оператором не осуществляется.5.7. Обработка персональных данных, разрешенных для распространения, из числа специальных категорий персональных данных, указанных в ч. 1 ст. 10 Закона о персональных данных, допускается, если соблюдаются запреты и условия, предусмотренные ст. 10.1 Закона о персональных данных.5.8. Согласие Пользователя на обработку персональных данных, разрешенных для распространения, оформляется отдельно от других согласий на обработку его персональных данных. При этом соблюдаются условия, предусмотренные, в частности, ст. 10.1 Закона о персональных данных. Требования к содержанию такого согласия устанавливаются уполномоченным органом по защите прав субъектов персональных данных.5.8.1 Согласие на обработку персональных данных, разрешенных для распространения, Пользователь предоставляет Оператору непосредственно.5.8.2 Оператор обязан в срок не позднее трех рабочих дней с момента получения указанного согласия Пользователя опубликовать информацию об условиях обработки, о наличии запретов и условий на обработку неограниченным кругом лиц персональных данных, разрешенных для распространения.5.8.3 Передача (распространение, предоставление, доступ) персональных данных, разрешенных субъектом персональных данных для распространения, должна быть прекращена в любое время по требованию субъекта персональных данных. Данное требование должно включать в себя фамилию, имя, отчество (при наличии), контактную информацию (номер телефона, адрес электронной почты или почтовый адрес) субъекта персональных данных, а также перечень персональных данных, обработка которых подлежит прекращению. Указанные в данном требовании персональные данные могут обрабатываться только Оператором, которому оно направлено.5.8.4 Согласие на обработку персональных данных, разрешенных для распространения, прекращает свое действие с момента поступления Оператору требования, указанного в п. 5.8.3 настоящей Политики в отношении обработки персональных данных.<br />
            <b>6. Принципы обработки персональных данных<br /></b>

            6.1. Обработка персональных данных осуществляется на законной и справедливой основе.6.2. Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.6.3. Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.6.4. Обработке подлежат только персональные данные, которые отвечают целям их обработки.6.5. Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки. Не допускается избыточность обрабатываемых персональных данных по отношению к заявленным целям их обработки.6.6. При обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Оператор принимает необходимые меры и/или обеспечивает их принятие по удалению или уточнению неполных или неточных данных.6.7. Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных. Обрабатываемые персональные данные уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.<br />
            <b>7. Цели обработки персональных данных<br /></b>

            7.1. Цель обработки персональных данных Пользователя:– информирование Пользователя посредством отправки электронных писем;– заключение, исполнение и прекращение гражданско-правовых договоров;– предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте https://gkinfinity.ru.7.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты gkinfinity@mail.ru с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».7.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.<br />
            <b>8. Правовые основания обработки персональных данных<br /></b>

            8.1. Правовыми основаниями обработки персональных данных Оператором являются:– перечислите нормативно-правовые акты, регулирующие отношения, связанные с вашей деятельностью, например, если ваша деятельность связана с информационными технологиями, в частности с созданием сайтов, то здесь можно указать Федеральный закон "Об информации, информационных технологиях и о защите информации" от 27.07.2006 N 149-ФЗ;– уставные документы Оператора;– договоры, заключаемые между оператором и субъектом персональных данных;– федеральные законы, иные нормативно-правовые акты в сфере защиты персональных данных;– согласия Пользователей на обработку их персональных данных, на обработку персональных данных, разрешенных для распространения.8.2. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://gkinfinity.ru или направленные Оператору посредством электронной почты. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.8.3. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).8.4. Субъект персональных данных самостоятельно принимает решение о предоставлении его персональных данных и дает согласие свободно, своей волей и в своем интересе.<br />
            <b>9. Условия обработки персональных данных<br /></b>

            9.1. Обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных.9.2. Обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей.9.3. Обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве.9.4. Обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем.9.5. Обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных.9.6. Осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее – общедоступные персональные данные).9.7. Осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.<br />
            <b>10. Порядок сбора, хранения, передачи и других видов обработки персональных данных<br /></b>

            Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.10.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.10.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства либо в случае, если субъектом персональных данных дано согласие Оператору на передачу данных третьему лицу для исполнения обязательств по гражданско-правовому договору.10.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора gkinfinity@mail.ru с пометкой «Актуализация персональных данных».10.4. Срок обработки персональных данных определяется достижением целей, для которых были собраны персональные данные, если иной срок не предусмотрен договором или действующим законодательством.

            Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора gkinfinity@mail.ru с пометкой «Отзыв согласия на обработку персональных данных».10.5. Вся информация, которая собирается сторонними сервисами, в том числе платежными системами, средствами связи и другими поставщиками услуг, хранится и обрабатывается указанными лицами (Операторами) в соответствии с их Пользовательским соглашением и Политикой конфиденциальности. Субъект персональных данных и/или Пользователь обязан самостоятельно своевременно ознакомиться с указанными документами. Оператор не несет ответственность за действия третьих лиц, в том числе указанных в настоящем пункте поставщиков услуг.10.6. Установленные субъектом персональных данных запреты на передачу (кроме предоставления доступа), а также на обработку или условия обработки (кроме получения доступа) персональных данных, разрешенных для распространения, не действуют в случаях обработки персональных данных в государственных, общественных и иных публичных интересах, определенных законодательством РФ.10.7. Оператор при обработке персональных данных обеспечивает конфиденциальность персональных данных.10.8. Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных.10.9. Условием прекращения обработки персональных данных может являться достижение целей обработки персональных данных, истечение срока действия согласия субъекта персональных данных или отзыв согласия субъектом персональных данных, а также выявление неправомерной обработки персональных данных.<br />
            <b>11. Перечень действий, производимых Оператором с полученными персональными данными<br /></b>

            11.1. Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных данных.11.2. Оператор осуществляет автоматизированную обработку персональных данных с получением и/или передачей полученной информации по информационно-телекоммуникационным сетям или без таковой.<br />
            <b>12. Трансграничная передача персональных данных<br /></b>

            12.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.12.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.<br />
            <b>13. Конфиденциальность персональных данных<br /></b>

            Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.<br />
            <b>14. Заключительные положения<br /></b>

            14.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты gkinfinity@mail.ru.14.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.14.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://gkinfinity.ru.
        </p>
    </div>
</div>

<div id="send-request-form">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form id="form" method="post" action="SendRequest">
        <p class="raleway-900fw-50px-black">Форма заявки</p>
        <div class="form-inputs">
            <input type="hidden" name="subject" value="@ViewData["Title"]" />
            <div class="labels">
                <label class="form-label raleway-900fw-32px-black" for="name">Ваше имя:</label>
                <label class="form-label raleway-900fw-32px-black" for="phone">Номер телефона:</label>
                <label class="form-label raleway-900fw-32px-black" for="city">Город:</label>
            </div>
            <div class="inputs">
                <input class="roboto-900fw-26px-black" type="text" id="name" name="sendrequest.Name" />
                <input class="roboto-900fw-26px-black" type="text" id="phone" name="sendrequest.PhoneNumber" />
                <input class="roboto-900fw-26px-black" type="text" id="city" name="sendrequest.City" />
            </div>
        </div>
        <div class="agreement-div">
            <input id="agreement" type="checkbox" name="checkmark" />
            <label for="agreement"></label>
            <p class="raleway-900fw-20px-black">Даю согласие на обработку <a class="policy">персональных данных</a></p>
        </div>
        <button class="raleway-900fw-32px-black send-request-button" type="submit">
            Оставить заявку!
        </button>
    </form>
</div>
<div id="overlay"></div>
<div id="dark-overlay-semki"></div>