@{
    ViewData["Title"] = "MagnumWater";
}
<div class="magnum-header">
    <img src="~/img/magnum-logo.svg"/>
    <h1 class="raleway-800fw-32px-black">ПРОИЗВОДСТВО МАГНИЕВОЙ ВОДЫ С ДОХОДОМ ОТ 240000 РУБЛЕЙ</h1>
</div>
<h2 class="raleway-800fw-50px-black magnum-headline">О НАШЕЙ КОМПАНИИ</h2>
<p class="raleway-800fw-18px-black">
    Наша компания занимается производством оборудования для изготовления магниевой воды, а также мы являемся эксклюзивными производителями ингредиентов. В данный момент мы являемся лидерами рынка по производству ингредиентов и обустройству цехов изготовления магниевой воды MAGNUM. Наши технологи разработали высокоэффективную технологию, благодаря которой при минимальных вложениях Вы получаете все необходимое для быстрого старта в этом бизнесе. Наши инженеры всегда готовы помочь и профессионально решить все ваши вопросы.
</p>
<div class="magnum-offer">
    <div>

    </div>

</div>