@{
    ViewData["Title"] = "MagnumWater";
}
<div class="magnum-header">
    <img src="~/img/magnum-logo.svg"/>
    <h1 class="raleway-800fw-32px-black">ПРОИЗВОДСТВО МАГНИЕВОЙ ВОДЫ С ДОХОДОМ ОТ 240000 РУБЛЕЙ</h1>
</div>
<h2 class="raleway-800fw-50px-black mh1 magnum-headline">О НАШЕЙ КОМПАНИИ</h2>
<p class="raleway-800fw-18px-black">
    Наша компания занимается производством оборудования для изготовления магниевой воды, а также мы являемся эксклюзивными производителями ингредиентов. В данный момент мы являемся лидерами рынка по производству ингредиентов и обустройству цехов изготовления магниевой воды MAGNUM. Наши технологи разработали высокоэффективную технологию, благодаря которой при минимальных вложениях Вы получаете все необходимое для быстрого старта в этом бизнесе. Наши инженеры всегда готовы помочь и профессионально решить все ваши вопросы.
</p>
<div class="magnum-offer raleway-800fw-50px-white">
    <div>
        <h2>ЧТО МЫ<br />ПРЕДЛАГАЕМ?</h2>
        <p class="raleway-800fw-18px-white">Мы предлагаем партнерство по всему миру, отдаем предпочтения странам СНГ и непосредственно партнерам в России. Наше предложение для Вас - построить бизнес на производстве современной, полезной магниевой воды в любом населенном пункте на нашей планете. Наша натуральная черная вода с добавлением полезных элементов давно пользуется спросом в США, Европе и конечно же в России с помощью наших технологий Вы сможете организовать себе бизнес который обеспечит Вашу семью постоянным заработком. Войти в данный бизнес как никогда стало легко с нашей помощью</p>
    </div>
    <img id="#magnum-bottles" src="~/img/magnum-bottles.jpg" />
    <div>

    </div>
</div>
<h2 class="raleway-800fw-50px-black magnum-headline">О бизнесе для вас</h2>
<div class="magnum-about">
    <img src="~/img/bottles-icon.svg"/>
    <p class="raleway-800fw-18px-black">Мы готовы передать Вам грандиозный, накопленный опыт по открытию бизнеса "Производства магниевой воды MAGNUM". Вы сможете круглый год производить MAGNUM воду в любых объемах по нашей технологии и с нашими ингредиентами. Себестоимость бутылки MAGNUM воды до 12 рублей, продается же она от 80 до 150 рублей, в зависимости от выбранного пути продажи опт либо розница. Мы предлагаем организовать "Производство MAGNUM воды" на 3000 бутылок (1,5 тысячи литров воды) в месяц, что даст доход от 240000 до 450000 рублей, если данные числа перевести в чистую прибыль то получим следующие показатели от 204000 - 414000 рублей.</p>
    <img src="~/img/bottle-icon.svg" />
    <p class="raleway-800fw-18px-black">Не хотите производить 3000 бутылок? Давайте посчитаем также показатели одного из наших партнеров, который находится на севере России в городе Надым, где магазинов не так много. В Надыме население 44000 человек, наш партнер производит ежемесячно 500 л. воды (1000 бутылок 0,5) и сбывает данный объем на оптовые базы, магазины, фитнес клубы, сетевые магазины, кафе, АЗС, вендинговые автоматы по 90 рублей за бутылку 0,5л. Несложно посчитать его чистые деньги (напомним себестоимость бутылки до 12 рублей) 90*1000=90000 рублей (доход), 12*1000=12000 рублей (расход), 90000-12000=78000 рублей (чистая прибыль), несмотря на маленький город, бизнес приносит не плохой доход.</p>
</div>
<div class="inside-partnership">
    <h2 class="raleway-800fw-50px-white">Что входит в партнёрство?</h2>
    <div class="inside-partnership-flex">
        <div>
            <div class="magnum-details raleway-900fw-18px-white off">
                <div></div>
                <p class="magnum-details-summary">Открытие ООО/ИП, сертификация на продукцию</p>
                <p class="magnum-details-content raleway-800fw-18px-white">Подготовим для Вас документы на открытие ООО/ИП, выберем нужную форму налогообложения, отправим документы Вам электронной почтой, Вам останется их распечатать и сдать в налоговую. Далее проведем сертификацию продукции под Вашу фирму.</p>
            </div>
            <div class="magnum-details raleway-900fw-18px-white off">
                <div></div>
                <p class="magnum-details-summary" style="margin-top: 20px; margin-bottom: 30px">Оборудование</p>
                <p class="magnum-details-content raleway-800fw-18px-white">Мы передадим Вам нашу эффективную разработку - оборудование для смешивания ингредиентов в емкостях, также приложим упаковщик для упаковки продукции в стяжку</p>
            </div>
            <div class="magnum-details raleway-900fw-18px-white off">
                <div></div>
                <p class="magnum-details-summary">Помощь в подборе помещения для производства</p>
                <p class="magnum-details-content raleway-800fw-18px-white">Вместе с Вами подберем необходимое для Вас помещение, нарисуем план установки оборудования, комнаты для персонала и склада готовой продукции.</p>
            </div>
        </div>
        <div>
            <div class="magnum-details raleway-900fw-18px-white off">
                <div></div>
                <p class="magnum-details-summary" style="margin-top: 20px; margin-bottom: 30px">Рекламные материалы</p>
                <p class="magnum-details-content raleway-800fw-18px-white">Коммерческое предложение, этикетки для бутылок, плакаты, логотип</p>
            </div>
            <div class="magnum-details raleway-900fw-18px-white off">
                <div></div>
                <p class="magnum-details-summary" style="margin-top: 20px; margin-bottom: 30px">Техподдержка</p>
                <p class="magnum-details-content raleway-800fw-18px-white">У нас на постоянной основе действует горячая линия по которой Вы сможете в любой момент позвонить и задать все интересующие Вас вопросы по производству воды.</p>
            </div>
            <div class="magnum-details raleway-900fw-18px-white off">
                <div></div>
                <p class="magnum-details-summary">Открытие ООО/ИП, сертификация на продукцию</p>
                <p class="magnum-details-content raleway-800fw-18px-white">Передадим весь накопленный опыт нашими специалистами, обучим производству воды, передадим колоссальный опыт продаж. Также у нас имеется эксклюзив на город, эксклюзив действует при покупке ежемесячно двух ведер со специальным ингредиентами для производства MAGNUM воды разработанным нашим  специалистом, одного ведра со специальным ингредиентом хватает на 1000 литров готового продукта.</p>
            </div>
        </div>
    </div>
</div>
<div id="send-request-button-magnum" class="send-request raleway-800fw-50px-white">Оставить заявку!</div>
<h2 class="raleway-800fw-50px-black magnum-headline">Преимущества MAGNUM воды</h2>
<p class="raleway-900fw-18px-black">Клинические исследования в отечественных и зарубежных медицинских учреждениях доказали целебное воздействие магниевой воды на организм человека. </p>
<div class="advantages-magnum">
    <div class="advantages-buttons">
        <div id="advantages-bt1" class="raleway-900fw-18px-white advantages-bt">
            Улучшение пищеварения и общего состояния ЖКТ <img src="~/img/magnum-arrow-right.svg" />
        </div>
        <div id="advantages-bt2" class="raleway-900fw-18px-white advantages-bt">
            Устранение симптомов аллергии <img src="~/img/magnum-arrow-right.svg" />
        </div>
        <div id="advantages-bt3" class="raleway-900fw-18px-white advantages-bt">
            Антибактериальное действие <img src="~/img/magnum-arrow-right.svg" />
        </div>
        <div id="advantages-bt4" class="raleway-900fw-18px-white advantages-bt">
            Антиоксидантная активность <img src="~/img/magnum-arrow-right.svg" />
        </div>
        <div id="advantages-bt5" class="raleway-900fw-18px-white advantages-bt">
            Улучшение кровообращения <img src="~/img/magnum-arrow-right.svg" />
        </div>
        <div id="advantages-bt6" class="raleway-900fw-18px-white advantages-bt">
            Борьба с вирусами <img src="~/img/magnum-arrow-right.svg"/>
        </div>
        <div id="advantages-bt7" class="raleway-900fw-18px-white advantages-bt">
            Снижение веса <img src="~/img/magnum-arrow-right.svg"/>
        </div>
    </div>
    <div class="advantages-text p1">
        <p id="p1" class="raleway-500fw-18px-black">Соединениям магния присущи антисептическая активность, стимулирующее действие на продукцию желудочной слизи, способность усиливать моторику желудочно–кишечного тракта; выражено защитное влияние на слизистую оболочку желудка. Одна из особенностей действия содержащих магний антацидов — усиление двигательной функции кишечника, что может привести к нормализации стула.</p>
        <p id="p2" class="raleway-500fw-18px-black">Употребление магниевой воды способствует снижению порога чувствительности иммунной системы к внешним раздражителям. Одновременно с ослаблением сенсибилизации организма, действующие вещества оперативно связывают и выводят аллергены. На практике у людей с выраженными симптомами аллергической реакции зуд и покраснение кожи проходит на 5-7 дней раньше, если включить магниевую воду в лечебный комплекс.</p>
        <p id="p3" class="raleway-500fw-18px-black">Гуминовые кислоты защищают организм от воздействия патогенных бактерий. Они катализируют их метаболизм, что приводит к форсированному саморазрушению. Дополнительный эффект достигается путем образования ионных связей с фрагментами белковых структур микробов. Вследствие чего их разрушающее воздействие на слизистые оболочки частично или полностью нейтрализуется.</p>
        <p id="p4" class="raleway-500fw-18px-black">В зависимости от ситуации активные компоненты магниевой воды выступают в роли акцепторов или доноров электронов. Таким образом нейтрализуется действие свободных радикалов, «похищающих» электроны у здоровых молекул. Регулярное употребление магниевой воды предотвращает развитие патологических изменений в клетках белковых структур, которые вызывают онкологические заболевания.</p>
        <p id="p5" class="raleway-500fw-18px-black">Употребление магниевой воды способствует снижению концентрации липопротеидов низкой плотности и «плохого» холестерина в крови. Это замедляет развитие атеросклеротических изменений и позволяет восстанавливать пропускную способность в уже частично заблокированных кровеносных сосудах.</p>
        <p id="p6" class="raleway-500fw-18px-black">Способность подавлять размножение устойчивых вирусов обладают немногие препараты. Молекулы гуминовых кислот обволакивают вирусы, препятствуя их проникновению в клетку. Это значительно замедляет процесс инфицирования и позволяет организму справиться с вторжением. Особенно эффективен прием магниевой воды в целях профилактики и на ранних этапах развития болезни. </p>
        <p id="p7" class="raleway-500fw-18px-black">Магний является незаменимым помощником в снижении веса, участвует в реакциях утилизации углеводов, нормализует обмен жиров – все это необходимо для перераспределения энергии, чтобы не накапливать запасы в лишних сантиметрах.</p>
    </div>
</div>
<h2 class="raleway-800fw-50px-black magnum-headline">Цикл производства</h2>
<div class="magnum-video-logo">
    <div class="magnum-video">
        <iframe width="822" height="462" src="https://www.youtube.com/embed/2nbTtEnbZxc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <img src="~/img/magnum-mini-logo.svg" />
</div>
<h2 class="raleway-800fw-50px-black magnum-headline">Некоторые виды воды, которые можно производить</h2>
<div class="itc-slider" data-slider="itc-slider" data-loop="true" data-autoplay="false">
    <div class="itc-slider__wrapper">
        <div class="itc-slider__items">
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
            <div class="itc-slider__item">
                <div class="slider-el">
                    <img src="~/img/black_bottle.png" />
                    <hr />
                    <p class="raleway-900fw-18px-black">WATER BLACK VERSION</p>
                    <p class="raleway-800fw-18px-black">
                        Стоимость ингредиентов
                        5 000 р.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="itc-slider__btn itc-slider__btn_prev"></button>
    <button class="itc-slider__btn itc-slider__btn_next"></button>
</div>
<div class="magnum-spend-block">
    <img src="~/img/spend-money-icon.svg" />
    <div>
        <h2 class="raleway-800fw-50px-black magnum-headline">Расходы на открытие</h2>
        <p class="raleway-900fw-18px-black">
            Аренда - до 10 000 рублей<br />
            Ёмкость для смешивания (куб) - 5 000 рублей<br />
            Специальные ингредиенты - 5 000 рублей<br />
            Фильтры для воды - 3 000 рублей
        </p>
    </div>
</div>
<h2 class="raleway-800fw-50px-black magnum-headline">О чистой прибыли при продаже 
3000 бутылок воды в месяц</h2>
<div class="magnum-info">
    <div class="raleway-900fw-18px-white magnum-details2 off">
        <p>Затраты в месяц</p>
        <p class="raleway-800fw-18px-white">
            Вода - до 70 рублей (за 3000 бутылок по 0,5, тариф для юр. лиц)<br /><br />

            Зарплата - 10000 рублей<br /><br />

            Аренда - 10000 рублей<br /><br />

            Электричество - 1000 рублей<br /><br />

            Упаковочный материал - 1000 рублей<br /><br />

            Бутылки - 10000 рублей<br /><br />

            Итого: 32070 рублей расходы.
        </p>
    </div>
    <div class="raleway-900fw-18px-white magnum-details2 off">
        <p>Доходы в месяц</p>
        <p class="raleway-800fw-18px-white">
            Оптовая цена за 1 бутылку 0,5 - 80-100 рублей:<br /><br />

            Продавая 3000 бутылок воды в месяц оптом, доход составит от 240000 - 300000 рублей в месяц<br /><br /><br />

            Розничная цена за 1 бутылку 0,5 - 100-150 рублей:<br /><br />

            Продавая 3000 бутылок в месяц в розницу, доход составит от 300000-450000 рублей в месяц
        </p>
    </div>
    <div class="raleway-900fw-18px-white magnum-details2 off">
        <p>Чистая прибыль</p>
        <p class="raleway-800fw-18px-white">
            В том случае если мы продаем оптом по минимальной цене на 240000 рублей в месяц, минус расходы 32070 рублей, то чистая прибыль составит 207930 рублей в месяц.<br /><br />

            Либо продажа осуществляется по минимальной розничной цене в месяц на 300000 рублей, минус расходы 32070 рублей, то чистая прибыль составит 267930 рублей в месяц.
        </p>
    </div>
</div>

<h2 class="raleway-800fw-50px-black magnum-headline">Цена партнёрства <b>75 000</b> рублей</h2>
<div>

</div>



<div id="send-request-form">
    <img id="magnum-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form method="post" action="SendRequest">
        <p class="raleway-900fw-50px-black">Форма заявки</p>
        <div class="form-inputs">
            <input type="hidden" name="subject" value="@ViewData["Title"]" />
            <div class="labels">
                <label class="form-label raleway-900fw-32px-black" for="name">Ваше имя:</label>
                <label class="form-label raleway-900fw-32px-black" for="phone">Номер телефона:</label>
                <label class="form-label raleway-900fw-32px-black" for="city">Город:</label>
            </div>
            <div class="inputs">
                <input class="roboto-900fw-26px-black" type="text" id="name" name="sendrequest.Name" />
                <input class="roboto-900fw-26px-black" type="text" id="phone" name="sendrequest.PhoneNumber" />
                <input class="roboto-900fw-26px-black" type="text" id="city" name="sendrequest.City" />
            </div>
        </div>
        <div class="agreement-div">
            <input id="agreement" type="checkbox" />
            <label for="agreement"></label>
            <p class="raleway-900fw-20px-black">Даю согласие на обработку <a>персональных данных</a></p>
        </div>
        <button class="raleway-900fw-32px-black send-request-button" type="submit">
            Оставить заявку!
        </button>
    </form>
</div>
<div id="dark-overlay-magnum"></div>