@{
    ViewData["Title"] = "Semki I Tochka";
}

<div class="semki-nav"><a class="decor-none raleway-900fw-18px-black" href="tel:+79326200050">8 (932) 620-00-50</a> <a class="send-request decor-none raleway-900fw-18px-black">Оставить заявку!</a></div>
<div id="send-request-form">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form method="post" action="SendRequest">
        <div class="form-inputs">
            <input type="hidden" name="subject" value="@ViewData["Title"]" />
            <div class="labels">
                <label class="form-label raleway-900fw-32px-black" for="name">Ваше имя:</label>
                <label class="form-label raleway-900fw-32px-black" for="phone">Номер телефона:</label>
                <label class="form-label raleway-900fw-32px-black" for="city">Город:</label>
            </div>
            <div class="inputs">
                <input class="roboto-900fw-26px-black" type="text" id="name" name="sendrequest.Name" />
                <input class="roboto-900fw-26px-black" type="text" id="phone" name="sendrequest.PhoneNumber" />
                <input class="roboto-900fw-26px-black" type="text" id="city" name="sendrequest.City" />
            </div>
        </div>
        <div class="agreement-div">
            <input id="agreement" type="checkbox" />
            <label for="agreement"></label>
            <p class="raleway-900fw-20px-black">Даю согласие на обработку <a>персональных данных</a></p>
        </div>
        <button class="raleway-900fw-32px-black send-request-button" type="submit">
            Оставить заявку!
        </button>
    </form>
</div>
<img class="semki" src="/img/semki.svg" />
<h1 class="semki-header raleway-900fw-85px-black">Производство жаренных семечек</h1>
<div class="semki-block1">
    <img class="semki-logo-main" src="/img/semki-logo.svg" />
    <p class="semki-text1 raleway-800fw-18px-black" >Наша компания предлагает Вам организовать производство жареных семечек в бутылках, предлагаем производить как отборные, соленые, с васаби, с беконом и иные вкусные семечки под логотипом SEMKI I TOCHKA. Главное - это быстрота приготовления, инновационная упаковка и высокий доход!</p>
</div>
<h2 class="semki-text2 raleway-900fw-50px-black">ЧТО МЫ ПРЕДЛАГАЕМ?</h2>
<div class="semki-block2">
    <p class="raleway-800fw-18px-black">Мы предлагаем партнерство по всему миру, отдаем предпочтения странам СНГ и непосредственно партнерам в России. Наше предложение для Вас - построить бизнес на производстве жаренных семечек в бутылках, процесс производства занимает минимальное количество времени. Вы сможете организовать себе бизнес который обеспечит Вашу семью постоянным заработком. Войти в данный бизнес как никогда стало легко с нашей помощью.</p>
    <img class="semki-bottles" src="/img/semki-bottles.jpg" />
</div>
<div id="dark-overlay-semki"></div>