@{
    ViewData["Title"] = "Semki I Tochka";
}

<div class="semki-nav"><a class="decor-none raleway-900fw-18px-black" href="tel:+79326200050">8 (932) 620-00-50</a> <a class="send-request decor-none raleway-900fw-18px-black">Оставить заявку!</a></div>
<div id="send-request-form">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form method="post" action="SendRequest">
        <input type="text" name="sendrequest.Name"/>
        <input type="text" />
        <input type="text" />
        <button type="submit" value="Отправить">

        </button>
    </form>
</div>
<div id="dark-overlay-semki"></div>