@{
    ViewData["Title"] = "Semki I Tochka";
}
<div class="semki-main">
    <div class="semki-nav"><a class="decor-none semki-phone raleway-900fw-18px-black" href="tel:+79326200050">8 (932) 620-00-50</a> <a class="send-request decor-none raleway-900fw-18px-black">Оставить заявку!</a></div>

    <img class="semki" src="/img/semki.svg" />
    <h1 class="semki-header raleway-900fw-85px-black">Производство жаренных семечек</h1>
    <div class="semki-block1">
        <img class="semki-logo-main" src="/img/semki-logo.svg" />
        <p class="semki-text1 raleway-800fw-18px-black" >Наша компания предлагает Вам организовать производство жареных семечек в бутылках, предлагаем производить как отборные, соленые, с васаби, с беконом и иные вкусные семечки под логотипом SEMKI I TOCHKA. Главное - это быстрота приготовления, инновационная упаковка и высокий доход!</p>
    </div>
    <h2 class="semki-text2 raleway-900fw-50px-black">ЧТО МЫ ПРЕДЛАГАЕМ?</h2>
    <div class="semki-block2">
        <p class="raleway-800fw-18px-black">Мы предлагаем партнерство по всему миру, отдаем предпочтения странам СНГ и непосредственно партнерам в России. Наше предложение для Вас - построить бизнес на производстве жаренных семечек в бутылках, процесс производства занимает минимальное количество времени. Вы сможете организовать себе бизнес который обеспечит Вашу семью постоянным заработком. Войти в данный бизнес как никогда стало легко с нашей помощью.</p>
        <img class="semki-bottles" src="/img/semki-bottles.jpg" />
    </div>
    <h2 class="semki-headline raleway-900fw-50px-black">О БИЗНЕСЕ ДЛЯ ВАС</h2>
    <div class="semki-bottles-block">
        <div class="long-bottle-card">
            <p class="semki-card-text raleway-800fw-18px-black">Мы готовы передать Вам грандиозный, накопленный опыт по открытию бизнеса "Производства жареных семечек в бутылках". Вы сможете на постоянной основе заниматься производством, производя жаренные семечки с разными вкусами, всему обучим!</p>
            <img class="long-card-bottle" src="~/img/semki-default.jpg" />
        </div>
        <div class="short-bottle-card">
            <p class="semki-card-text raleway-800fw-18px-black">Себестоимость бутылки 150 грамм семечек до 17 рублей, продается же продукт от 70 до 80 рублей, в зависимости от выбранного пути продажи опт либо розница.</p>
            <img class="short-card-bottle" src="~/img/semki-wasabi.jpg" />
        </div>
        <div class="long-bottle-card">
            <p class="semki-card-text raleway-800fw-18px-black">Мы предлагаем организовать "Производство жареных семечек в бутылках" на 6000 бутылок (900 кг. семечек) в месяц, что даст доход от 420000 до 480000 рублей, если данные числа перевести в чистую прибыль то получим следующие показатели от 318000 - 378000 рублей.</p>
            <img class="long-card-bottle" src="/img/semki-salt.jpg" />
        </div>
    </div>
    <h2 class="semki-headline raleway-900fw-50px-black">ЧТО ВХОДИТ В ФРАНШИЗУ?</h2>
    
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ОТКРЫТИЕ ООО/ИП, СЕРТИФИКАТЫ НА ПРОДУКЦИЮ</p>
        <p class="semki-details-content raleway-800fw-18px-black">Подготовим для Вас документы на открытие ООО/ИП, выберем нужную форму налогообложения, отправим документы Вам электронной почтой, Вам останется их распечатать и сдать в налоговую. Закажем под Вашу организацию сертификаты на готовый продукт.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ОБОРУДОВАНИЕ</p>
        <p class="semki-details-content raleway-800fw-18px-black">Мы передадим Вам: ручная "Евросушка" для удаления влаги с семян, аппарат для жарки семечек.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ПОДБОР ПОМЕЩЕНИЯ ДЛЯ ПРОИЗВОДСТВА</p>
        <p class="semki-details-content raleway-800fw-18px-black">Вместе с Вами подберем необходимое для Вас помещение.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ПОДДЕРЖКА НА ВСЕХ ЭТАПАХ БИЗНЕСА</p>
        <p class="semki-details-content raleway-800fw-18px-black">У нас действует горячая линия по которой Вы сможете  позвонить и задать все интересующие Вас вопросы по производству. Мы поможем на каждом этапе бизнеса.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ТЕХНОЛОГИИ, ИНСТРУКЦИИ, ЭКСКЛЮЗИВ НА ГОРОД</p>
        <p class="semki-details-content raleway-800fw-18px-black">Передадим весь накопленный опыт нашими специалистами, обучим производству, передадим колоссальный опыт продаж. Также у нас имеется эксклюзив на город, эксклюзив действует при оплате роялти в размере 5000 рублей.</p>
    </div>
    <h2 class="semki-headline raleway-900fw-50px-black">РАСХОДЫ НА ОТКРЫТИЕ</h2>
    <div class="semki-spend-block">

    </div>
</div>

<div id="send-request-form">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form method="post" action="SendRequest">
        <div class="form-inputs">
            <input type="hidden" name="subject" value="@ViewData["Title"]" />
            <div class="labels">
                <label class="form-label raleway-900fw-32px-black" for="name">Ваше имя:</label>
                <label class="form-label raleway-900fw-32px-black" for="phone">Номер телефона:</label>
                <label class="form-label raleway-900fw-32px-black" for="city">Город:</label>
            </div>
            <div class="inputs">
                <input class="roboto-900fw-26px-black" type="text" id="name" name="sendrequest.Name" />
                <input class="roboto-900fw-26px-black" type="text" id="phone" name="sendrequest.PhoneNumber" />
                <input class="roboto-900fw-26px-black" type="text" id="city" name="sendrequest.City" />
            </div>
        </div>
        <div class="agreement-div">
            <input id="agreement" type="checkbox" />
            <label for="agreement"></label>
            <p class="raleway-900fw-20px-black">Даю согласие на обработку <a>персональных данных</a></p>
        </div>
        <button class="raleway-900fw-32px-black send-request-button" type="submit">
            Оставить заявку!
        </button>
    </form>
</div>
<div id="dark-overlay-semki"></div>