@{
    ViewData["Title"] = "SemkiITochka";
}
<div id="semki-main" class="semki-main">
    <div class="semki-nav"><a class="decor-none semki-phone raleway-900fw-18px-black" href="tel:+79326200050">8 (932) 620-00-50</a> <a class="send-request decor-none raleway-900fw-18px-black">Оставить заявку!</a></div>

    <img class="semki" src="~/img/semki.svg" />
    <h1 class="semki-header raleway-900fw-85px-black">Производство жаренных семечек</h1>
    <div class="semki-block1">
        <img class="semki-logo-main" src="~/img/semki-logo.svg" />
        <p class="semki-text1 raleway-800fw-18px-black" >Наша компания предлагает Вам организовать производство жареных семечек в бутылках, предлагаем производить как отборные, соленые, с васаби, с беконом и иные вкусные семечки под логотипом SEMKI I TOCHKA. Главное - это быстрота приготовления, инновационная упаковка и высокий доход!</p>
    </div>
    <h2 class="semki-text2 raleway-900fw-50px-black">ЧТО МЫ ПРЕДЛАГАЕМ?</h2>
    <div class="semki-block2">
        <p class="raleway-800fw-18px-black">Мы предлагаем партнерство по всему миру, отдаем предпочтения странам СНГ и непосредственно партнерам в России. Наше предложение для Вас - построить бизнес на производстве жаренных семечек в бутылках, процесс производства занимает минимальное количество времени. Вы сможете организовать себе бизнес который обеспечит Вашу семью постоянным заработком. Войти в данный бизнес как никогда стало легко с нашей помощью.</p>
        <img class="semki-bottles" src="~/img/semki-bottles.jpg" />
    </div>
    <h2 class="semki-headline raleway-900fw-50px-black">О БИЗНЕСЕ ДЛЯ ВАС</h2>
    <div class="semki-bottles-block">
        <div class="long-bottle-card">
            <p class="semki-card-text raleway-800fw-18px-black">Мы готовы передать Вам грандиозный, накопленный опыт по открытию бизнеса "Производства жареных семечек в бутылках". Вы сможете на постоянной основе заниматься производством, производя жаренные семечки с разными вкусами, всему обучим!</p>
            <img class="long-card-bottle" src="~/img/semki-default.jpg" />
        </div>
        <div class="short-bottle-card">
            <p class="semki-card-text raleway-800fw-18px-black">Себестоимость бутылки 150 грамм семечек до 17 рублей, продается же продукт от 70 до 80 рублей, в зависимости от выбранного пути продажи опт либо розница.</p>
            <img class="short-card-bottle" src="~/img/semki-wasabi.jpg" />
        </div>
        <div class="long-bottle-card">
            <p class="semki-card-text raleway-800fw-18px-black">Мы предлагаем организовать "Производство жареных семечек в бутылках" на 6000 бутылок (900 кг. семечек) в месяц, что даст доход от 420000 до 480000 рублей, если данные числа перевести в чистую прибыль то получим следующие показатели от 318000 - 378000 рублей.</p>
            <img class="long-card-bottle" src="~/img/semki-salt.jpg" />
        </div>
    </div>
    <h2 class="semki-headline raleway-900fw-50px-black">ЧТО ВХОДИТ В ФРАНШИЗУ?</h2>
    
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ОТКРЫТИЕ ООО/ИП, СЕРТИФИКАТЫ НА ПРОДУКЦИЮ</p>
        <p class="semki-details-content raleway-800fw-18px-black">Подготовим для Вас документы на открытие ООО/ИП, выберем нужную форму налогообложения, отправим документы Вам электронной почтой, Вам останется их распечатать и сдать в налоговую. Закажем под Вашу организацию сертификаты на готовый продукт.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ОБОРУДОВАНИЕ</p>
        <p class="semki-details-content raleway-800fw-18px-black">Мы передадим Вам: ручная "Евросушка" для удаления влаги с семян, аппарат для жарки семечек.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ПОДБОР ПОМЕЩЕНИЯ ДЛЯ ПРОИЗВОДСТВА</p>
        <p class="semki-details-content raleway-800fw-18px-black">Вместе с Вами подберем необходимое для Вас помещение.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ПОДДЕРЖКА НА ВСЕХ ЭТАПАХ БИЗНЕСА</p>
        <p class="semki-details-content raleway-800fw-18px-black">У нас действует горячая линия по которой Вы сможете  позвонить и задать все интересующие Вас вопросы по производству. Мы поможем на каждом этапе бизнеса.</p>
    </div>
    <div class="semki-details raleway-900fw-20px-black off">
        <p class="semki-details-summary">ТЕХНОЛОГИИ, ИНСТРУКЦИИ, ЭКСКЛЮЗИВ НА ГОРОД</p>
        <p class="semki-details-content raleway-800fw-18px-black">Передадим весь накопленный опыт нашими специалистами, обучим производству, передадим колоссальный опыт продаж. Также у нас имеется эксклюзив на город, эксклюзив действует при оплате роялти в размере 5000 рублей.</p>
    </div>
    <h2 class="semki-headline raleway-900fw-50px-black">РАСХОДЫ НА ОТКРЫТИЕ</h2>
    <div class="semki-spend-block">
        <div class="semki-spend-item raleway-400fw-20px-black">
            <img src="~/img/semki-spend-item1.svg" />
            <p>
                До 10000 рублей
                Аренда (В т.ч. ком. услуги)
            </p>
        </div>
        <div class="semki-spend-item raleway-400fw-20px-black">
            <img src="~/img/semki-spend-item2.svg" />
            <p>
                4000 рублей
                Ёмкости, противни, весы
            </p>
        </div>
        <div class="semki-spend-item raleway-400fw-20px-black">
            <img src="~/img/semki-spend-item3.svg" />
            <p>
                17000 рублей
                Сырые семечки, специи
            </p>
        </div>
        <div class="semki-spend-item raleway-400fw-20px-black">
            <img src="~/img/semki-spend-item4.svg" />
            <p>
                13500 рублей
                Бутылки и этикетки
            </p>
        </div>
    </div>
    <p class="raleway-800fw-18px-black">(1800 бутылок - минимальный вход)</p>
    <h2 class="semki-headline raleway-900fw-50px-black">
        О ПРИБЫЛИ ПРИ ПРОДАЖЕ <br /> 1800 БУТЫЛОК СЕМЕЧЕК В МЕСЯЦ
    </h2>
    <div class="semki-money-block">
        <div class="semki-money-item">
            <img src="/img/money-spend.svg"/>
            <p class="raleway-900fw-18px-black">Затраты в месяц</p>
            <p class="raleway-500fw-18px-black">Подробнее <img src="~/img/3arrows.svg" /></p>
        </div>
        <div class="semki-money-item">
            <img src="/img/money-stonk.svg" />
            <p class="raleway-900fw-18px-black">Доходы в месяц</p>
            <p class="raleway-500fw-18px-black">Подробнее <img src="~/img/3arrows.svg" /></p>
        </div>
        <div class="semki-money-item">
            <img src="/img/money-clear.svg" />
            <p class="raleway-900fw-18px-black">Чистая прибыль</p>
            <p class="raleway-500fw-18px-black">Подробнее<img src="~/img/3arrows.svg" /></p>
        </div>
        <p class="how-semki amatic-400fw-50px-black">
            Как делаются семечки
        </p>
        <p class="process-semki amatic-400fw-50px-black">
            Процесс производства
        </p>

        <img class="semki-arrow" src="~/img/semki-arrow.svg" />
        <img class="semki-arrow2" src="~/img/semki-arrow2.svg" />
    </div>
    <a class="send-request raleway-900fw-18px-black send-request2">Оставить заявку!</a>
    <iframe class="semki-video" width="921" height="517" src="https://www.youtube.com/embed/VcJyo19_Tm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="semki-price-block">
        <div class="raleway-800fw-18px-black">
            <button>Что входит?</button>
            <button>Полное описание</button>
            <button>Часто задаваемые вопросы</button>
        </div>
        <h2 class="raleway-900fw-50px-black">
            Цена партнёрства<br />
            <span>120 000 рублей</span>
        </h2>
    </div>
    <div class="semki-deal">
        <div class="semki-deal-item">
            <img src="~/img/smartphone-icon.svg" />
            <p class="raleway-900fw-18px-black">Позвоните</p>
            <p class="raleway-500fw-18px-black">Подробнее<img src="~/img/3arrows.svg" /></p>
        </div>
        <div class="semki-deal-item">
            <img src="~/img/hands-shake-icon.svg" />
            <p class="raleway-900fw-18px-black">Заключите договор</p>
            <p class="raleway-500fw-18px-black">Подробнее<img src="~/img/3arrows.svg" /></p>
        </div>
        <div class="semki-deal-item">
            <img src="~/img/car-icon.svg" />
            <p class="raleway-900fw-18px-black">
                Получите
                оборудование
            </p>
            <p class="raleway-500fw-18px-black">Подробнее<img src="~/img/3arrows.svg" /></p>
        </div>
        <div class="semki-deal-item">
            <img src="~/img/manager-icon.svg" />
            <p class="raleway-900fw-18px-black">
                Получайте сопровождение
            </p>
            <p class="raleway-500fw-18px-black">Подробнее<img src="~/img/3arrows.svg" /></p>
        </div>
    </div>
    <a class="send-request raleway-900fw-18px-black send-request3">Оформить партнёрство</a>
    <h2 class="semki-headline semki-headline-left raleway-900fw-50px-black">Чем отправляем оборудование?</h2>
    <img class="send-companies" src="~/img/send-companies.jpg" />
    <h2 class="semki-headline semki-headline-right raleway-900fw-50px-black">Наши клиенты</h2>
    <img class="client-companies" src="~/img/client-companies.jpg" />
    <footer class="semki-footer raleway-900fw-20px-white">
        <div class="semki-footer-wrapper">
            <p>
                ООО "ИНФИНИТИ"
                8 (932) 620-00-50
                gkinfinity@mail.ru
            </p>
            <a href="#semki-main">Вверх <img src="~/img/semki-arrow-up.svg" /></a>
        </div>
    </footer>
</div>

<div id="semki-call-description">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Свяжитесь с нами</h2>
    <p class="raleway-400fw-20px-black">
        Свяжитесь с нами, расскажем о всех тонкостях бизнеса. Либо оставьте заявку на сайте. Также работаем во всех мессенджерах. Whatsapp, Viber, Telegram, пишите!
    </p>
</div>
<div id="semki-deal">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Заключение договора</h2>
    <p class="raleway-400fw-20px-black">
        Отправьте данные для заключения договора, укажите форму оплаты (наложенный платеж либо 100% по договору). Необходимо корректно предоставить данные, также указать на какой город оформляем эксклюзив.
    </p>
</div>
<div id="semki-car">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Отправляем оборудование</h2>
    <p class="raleway-400fw-20px-black">
        Отправляем оборудование в день заказа, либо на следующий рабочий день. В том случае если оплата прошла 100% по договору, сразу же занимаемся юридическим оформлением. В том случае если отправляем оборудование наложенным платежом, всеми оформлениями занимаемся после получения оплаты. Как работает наложенный платеж? Заключаем договор, в нем прописывая данную услугу, вносите предоплату 5000 рублей в счет страховки в случае если не забираете оборудование по какой либо причине, тем самым транспортная у нас оплачена в обе стороны. После того как мы отправили Вам оборудование, приезжаете в транспортную, осматриваете на целостность и сохранность, вносите оставшуюся часть денежных средств, мы убираем наложенный платеж, на это уходит 10-15 минут, после этого забираете оборудование, мы со своей стороны начинаем заниматься юридическими оформлениями. Наложенный платеж возможен только транспортной Байкал Сервис.
    </p>
</div>
<div id="semki-manager">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Сопровождение</h2>
    <p class="raleway-400fw-20px-black">
        Изначально при запуске бизнеса отправляем Вам руководство франчайзи. Ознакомитесь, многие вопросы раскрыты. В том случае если что то не понятно, созваниваемся - обсуждаем. При необходимости готовим документы для открытия ООО/ИП, после оформляем сертификат на продукцию под Вашу организацию с которым Вы официально сможете продавать продукт в магазины. На всех этапах наша команда всегда на связи, на все вопросы будет дан конкретный ответ.
    </p>
</div>


<div id="semki-partnership-list">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Что входит?</h2>
    <p class="raleway-400fw-20px-black">
        - Ручная "Евросушка", для сушки семян (23000 рублей, 00 копеек)<br />
        - Аппарат для жарки (97000 рублей, 00 копеек)<br />
        - Открытие ООО/ИП<br />
        - Поддержка на всех этапах бизнеса<br />
        - Технологическое сопровождение<br />
        - Оформление сертификата на продукцию<br />
    </p>
</div>
<div id="semki-description">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Полное описание</h2>
    <div class="raleway-400fw-20px-black">
        Уважаемые потенциальные партнеры, пожалуйста ознакомьтесь с полным описанием первых шагов, от покупки до реализации:<br />
        <ol class="raleway-400fw-20px-black">
            <li>Позвоните нам, узнайте подробности, отчетливо прочитайте всю информацию на сайте.</li>

            <li>Оформите договор на партнерства, от Вас необходимы следующие данные:</li>
            <ul class="raleway-400fw-20px-black">
                <li>Паспортные данные - первый разворот паспорта и регистрация;</li>
                <li>Город на который заключаем эксклюзив (эксклюзив означает, что Вы как партнер будете один на закрепленной под Вас территории. Эксклюзив действует при оплате роялти в 5000 рублей;</li>
                <li>Определиться с формой оплаты - наложенный платеж, либо 100% оплата по договору.</li>
            </ul>
            <li><b>При 100%</b> оплате отправляем оборудование, отправляем все ознакомительные, обучающие материалы Вам на электронную почту. Оформляем Вам ИП либо ООО если есть в этом необходимость, оформляем сертификат на продукцию.</li>
        </ol>
        <b>При наложенном платеже</b>, вносится предоплата 5000 рублей, отправляем оборудование, приезжаете в транспортную компанию, осматриваете груз, оплачиваете оставшуюся часть денежных средств, забираете оборудование, и после этих действий, мы отправляем Вам все ознакомительные, обучающие материалы, оформляем ООО либо ИП, готовим сертификат на продукцию.
    </div>
</div>
<div id="semki-questions">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Часто задаваемые вопросы</h2>
    <div class="raleway-400fw-20px-black">
        <p>
        <b>- Сколько стоит 1 кг. сырых семечек?</b><br />

        - 1 кг. семечек стоит примерно 50 рублей, приобретаются на оптовых базах, рынках.<br /><br />

        <b>- Какая производительная мощность оборудования?</b><br />

        - За десяти часовой день - 90 кг, это 600 бутылок.<br /><br />

        <b>- Какая вместимость бутылки?</b><br />

        - Вместимость бутылки 0,5 л. - 150 г.<br /><br />

        <b>- Какая себестоимость бутылки?</b><br />

        - 17 рублей.<br /><br />

        <b>- Где брать бутылки?</b><br />

        - Бутылки приобретаются в своем городе, множество компаний выдувают бутылки. Покупать можно в розничных магазинах упаковочной продукции, либо напрямую с производства бутылок.<br /><br />

        <b>- Где взять этикетки?</b><br />

        - Этикетки мы передаем в электронном формате, Вам необходимо будет вписать в них свои реквизиты, номер сертификата и отдать на печать в типографию в своем городе.<br /><br />

        <b>- Заключается ли договор, гарантия на оборудование?</b><br />

        - Да, договор заключается, договор отправляется по необходимости ознакомления, гарантия на оборудование имеется и составляет 1 год.<br /><br />

        <b>- Что такое эксклюзив на город?</b><br />

        - Эксклюзив на город подразумевает за собой, то, что мы продаем франшизу одному человеку на город, партнеру, чтобы держать эксклюзив за собой, необходимо оплачивать роялти 5000 рублей в месяц.<br /><br />

        <b>- Как продавать продукт помимо сетевых магазинов?</b><br />

        - Есть несколько путей реализации: поставка с полной оплатой, поставка с отсрочкой платежа (3-5 дней), поставка под реализацию (ставите бесплатно товар, с Вами рассчитываются по факту продаж, самый действенный способ захватит 100% города)<br /><br />

        <b>- Куда поставлять товар?</b><br />

        - Сетевые магазины, продуктовые магазины, магазины у дома, киоски, ларьки, оптовые базы, рынки, заправки и т.д. продается туда, где есть пищевая продукция.<br /><br />

        <b>- Сколько занимает транспортировка оборудования?</b><br />

        - В зависимости от отдаленности города, доставка занимает 2 - 10 дней.<br /><br />

        <b>- Есть ли наложенный платеж на оборудование?</b><br />

        - Да, наложенный платеж имеется, отправляем оборудование, осматриваете в транспортной компании, оплачиваете нам, забираете оборудование и начинаем работу.<br /><br />

        <b>- Где Вы находитесь?</b><br />

        - Мы находимся в городе Тюмень.<br /><br />

        <b>- Есть ли роялти, проценты отчисления Вам?</b><br />

        - Роялти 5000 рублей.<br /><br />

        <b>- Как быстро отгружаете оборудование?</b><br />

        - В том, случае если оплата в первой половине дня, то отгружаем в этот же рабочий день, если оплата во второй половине дня, отгружаем на следующий рабочий день.<br /><br />

        <b>- Почему не отправляете бизнес - план, финансовую модель?</b><br />

        - Мы не сторонники отправлять надуманные, мнимые бизнес - планы с "крутыми" цифрами, бизнес - план и финансовая модель - вещи индивидуальные, не даром люди которые создают бизнес - планы берут оплату за это от 50000 рублей. Все сугубо индивидуально. Если нужно мы создадим под Вас, под Ваш город бизнес - план за определенную договорную плату.<br /><br />
        </p>
    </div>
</div>

<div id="spend-popup">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Затраты в месяц</h2>
    <p class="raleway-400fw-20px-black">
        Сырые семечки - 13500 рублей<br />
        Специи, соль - 3500 рублей<br />
        Бутылки - 13500 рублей<br />
        Аренда в т.ч. ком. услуги - 10000<br />
        Итого: 40500 рублей расходы.
    </p>
</div>
<div id="stonk-popup">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Доходы в месяц</h2>
    <p class="raleway-400fw-20px-black">
        Оптовая цена за 1 бутылку 150 г. - от 70 рублей.<br />
        Продавая 1800 бутылок семечек в месяц оптом, доход составит 126000 рублей в месяц.<br />
        Розничная цена за 1 бутылку 150 г. - 80 рублей.<br />
        Продавая 1800 бутылок в месяц в розницу, доход составит 144000 рублей в месяц.
    </p>
</div>
<div id="clear-popup">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <h2 class="raleway-800fw-32px-black">Чистая прибыль</h2>
    <p class="raleway-400fw-20px-black">
        В том случае если мы продаем оптом по минимальной цене на 126000 рублей в месяц, минус расходы 40500 рублей, то чистая прибыль составит в месяц 85500 рублей в месяц.<br /><br />
        Либо продажа осуществляется по минимальной розничной цене в месяц на 144000 рублей, минус расходы 40500 рублей, то чистая прибыль составит в месяц 103500 рублей в месяц.
    </p>
</div>

<div id="send-request-form">
    <img id="semki-popup-cross" class="cross-icon" src="/img/cross-icon.svg" />
    <form method="post" action="SendRequest">
        <p class="raleway-900fw-50px-black">Форма заявки</p>
        <div class="form-inputs">
            <input type="hidden" name="subject" value="@ViewData["Title"]" />
            <div class="labels">
                <label class="form-label raleway-900fw-32px-black" for="name">Ваше имя:</label>
                <label class="form-label raleway-900fw-32px-black" for="phone">Номер телефона:</label>
                <label class="form-label raleway-900fw-32px-black" for="city">Город:</label>
            </div>
            <div class="inputs">
                <input class="roboto-900fw-26px-black" type="text" id="name" name="sendrequest.Name" />
                <input class="roboto-900fw-26px-black" type="text" id="phone" name="sendrequest.PhoneNumber" />
                <input class="roboto-900fw-26px-black" type="text" id="city" name="sendrequest.City" />
            </div>
        </div>
        <div class="agreement-div">
            <input id="agreement" type="checkbox" />
            <label for="agreement"></label>
            <p class="raleway-900fw-20px-black">Даю согласие на обработку <a>персональных данных</a></p>
        </div>
        <button class="raleway-900fw-32px-black send-request-button" type="submit">
            Оставить заявку!
        </button>
    </form>
</div>
<div id="dark-overlay-semki"></div>